body, html {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.login-container div {
  margin-bottom: 1em;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.login-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success,
.error {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.success {
  background-color: #dff0d8;
  color: #3c763d;
}
.error {
  background-color: #f2dede;
  color: #a94442;
}

.register{
  margin-top: 15px;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.register-button{
  background-color: #5ab0fc;
  width: 50%;
}