<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main-component">
  <h2>Albums</h2>
</div>

<div *ngIf="showNotification" class="notification">
  <i class="material-icons">check_circle</i> Album added to cart!
</div>

<div class="album-grid" *ngIf="!loading">
  <div class="album-card" *ngFor="let album of albumCollection">
    <img [src]="'/assets/images/'+album.cover_art" alt="{{album.album_name}}" class="album-cover">
      <div class="album-details">
        <h3>{{album.album_name}}</h3>
        <p>{{album.album_artist}} - {{album.album_genre}}</p>
        <p></p>
        <p>{{album.album_release_date}}</p>
        <p>${{album.album_price}}</p> 
        <i class="material-icons" [routerLink]="['/cart']">shopping_cart</i>
        <button class="add-to-cart-btn"  (click)="addToCart(album)">+</button>

      </div>
  </div>
</div>




